.userCardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 35px;
    background: deepskyblue;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.userCardContent {
    text-align: center;
    width: 50%;
}

.userCardContent > * {
    margin: 0 auto;
}

